*{
    /* margin: 0px 0 0 50px; */
padding: 0px;
font-family: century;
font-family: Roboto, "Helvetica Neue", sans-serif;

}
.container1{
  height: 600px;
  width: 100%;
  background-image: url(../assets/backdrop\ about1.png);
  background-repeat: no-repeat;
  background-size: cover; 
}
.main{
  display: flex;
  margin: 0 0 0 10%;
  flex-direction: row;
}
.about{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding-top: 65px;
  font-style: bold;
} 
.main .title h3{
  color: white ;
  
}
.navelements {
  float: right;
  position: fixed;
  z-index: 1;
  /* display: inline-flex; */
}

ul li{
  display: inline-block;
  }
  .list{
    margin-left: 550px;
  }
  .list li {
    margin: 15px 10px 0px 30px;
  }
  .navelements .list li a{
    text-decoration: none;
    color: white;
    border: 5px transparent;
    transition: 0.5 ease;
    border-radius: 2px;
    width: 30px;
    height: 200px;
  }
  .navelements .list li a:hover{
    text-decoration: underline;

  }

  /* .navelements:scrolled-up {
    background-color: #424040;
  } */
  

  .skills {
    margin: 50px;
    background-color: white;
    height: 200px;
    opacity: 80%;
  }
.title {
  margin-top: 10px;
  position: fixed;
  z-index: 1;
}

.section2 {
margin: 100px 0 0 0;
color: white;
}
.section2 p {
margin-top: 50px;
}

.skills .btn{
display: inline-flex;
text-align: center;
text-decoration: none;
padding: 15px 20px;
width: 15%;
margin: 70px 0 0 120px;
justify-content: center;
/* height: 40px; */
border-radius: 5px;
background-color: #86b4b8cf;
color: white;
font-size: 12px;
transition: background-color 0.3s ease;
}
#loginForm{
position: absolute;
/* top: 10%; */
left: 72%;
}
#signupForm{
position: absolute;
/* top: 45%; */
left: 72%;
}

.loginFormDisplay:hover + #loginForm{
display: block;
}
.loginFormDisplay:hover + #signupForm{
display: inline-block;
}

#loginForm, #signupForm{
display: none;
}

#inputclass{
/* margin-left: 10px; */
border: 1px solid rgb(95, 144, 170);
}
#loginForm .inputclass{
margin-left:20px;
margin-bottom: 15px;
}
#signupForm .inputclass{
margin-left:0px;
margin-bottom: 0px;
}
#signupForm  #inputclass{
margin-left: 0px;
}
.signup{
margin-left: 600px;
margin-top: 20px;
}

#signup{
margin-left: 10px;
border: 1px solid srgb rgb(77, 115, 125);
  max-width: 400px; 
  margin: 0 auto; 
}
.about{
color: white;
margin: 100px 50px;

}
.fact {
  font-size: x-large ;
  padding-left: 50px;
  font-weight: bold;
}

.paragraph2{                
  display: flex;                
  justify-content: left;      
  flex-wrap: wrap;             
  background-color: #aef4f8;
  font-size: larger;
  padding-top: 70px;
  font-weight: 600;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;

}

.imgfact{
  border-radius: 50px;
}
.mission2{
  font-size: larger;
  font-weight: 700;
}
.imgfact1{
  border-radius: 50%;
  float: right;
}
.footer { 
  display: flex;                
  justify-content: center;      
  flex-wrap: wrap;             
  gap: 300px;
  margin-top: 30px; 
  background-color: #c6f9fc;                 


}

/* .patterns{
width: 100%;
height: 300px;
background-color: aquamarine;
} */

.btn {
  display: inline-block;        
  padding: 12px 24px;           
  background-color: #007bff;   
  color: white;                  
  text-decoration: none; 
  height: auto; 
  border-radius: 10px;    
  
}
 
.fa{
color: white;
/* border: 1px solid rgb(245, 247, 248); */
font-size: 50px;
padding:20px;

}
.icon{
text-align: center;
}
.copyright .fa{
padding:5px ;
}
.copyrights{
display: grid;
align-items: center;
color: white;
padding: 50px;
}
.button:hover{
background-color: aqua;

}
.button{
background-color: rgb(120, 225, 233);
border-radius: 5px;
width: 150px;
font-size: large;
height: 30px;
}
.mission{
  border-radius: 5px;
  border: 2px solid blue;
  width: 300px;
  background-color: #6ee0ed;
}
.vision{
  border-radius: 5px;
  border: 2px solid blue;
  width: 300px;
  background-color: #6ee0ed;
}
.goal{
  border-radius: 5px;
  border: 2px solid blue;
  width: 300px;
  background-color: #6ee0ed;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #aef4f8;
}
.head1{
  color:black;
}
.info{
  color: rgb(2, 46, 66);
  font-size: medium;
}