*{
    /* margin: 0px 0 0 50px; */
padding: 0px;
font-family: century;
font-family: Roboto, "Helvetica Neue", sans-serif;

}
.container{
  height: 600px;
  width: 100%;
  background-color: aquamarine;
  background-repeat: no-repeat;
  background-size: cover; 
}
.main{
  display: flex;
  margin: 0 0 0 10%;
  flex-direction: row;
}
.about{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  padding-top: 65px;
  font-style: bold;
} 
.main .title h3{
  color: white ;
  
}
.navelements {
  float: right;
  position: fixed;
  z-index: 1;
  /* display: inline-flex; */
}

ul li{
  display: inline-block;
  }
  .list{
    margin-left: 550px;
  }
  .list li {
    margin: 15px 10px 0px 30px;
  }
  .navelements .list li a{
    text-decoration: none;
    color: white;
    border: 5px transparent;
    transition: 0.5 ease;
    border-radius: 2px;
    width: 30px;
    height: 200px;
  }
  .navelements .list li a:hover{
    text-decoration: underline;

  }

  /* .navelements:scrolled-up {
    background-color: #424040;
  } */
  

  .skills {
    margin: 50px;
    background-color: white;
    height: 200px;
    opacity: 80%;
  }
.title {
  margin-top: 10px;
  position: fixed;
  z-index: 1;
}

.section2 {
margin: 100px 0 0 0;
color: white;
}
.section2 p {
margin-top: 50px;
}

.skills .btn{
display: inline-flex;
text-align: center;
text-decoration: none;
padding: 15px 20px;
width: 15%;
margin: 70px 0 0 120px;
justify-content: center;
/* height: 40px; */
border-radius: 5px;
background-color: #86b4b8cf;
color: white;
font-size: 12px;
transition: background-color 0.3s ease;
}
#loginForm{
position: absolute;
/* top: 10%; */
left: 72%;
}
#signupForm{
position: absolute;
/* top: 45%; */
left: 72%;
}

.loginFormDisplay:hover + #loginForm{
display: block;
}
.loginFormDisplay:hover + #signupForm{
display: inline-block;
}

#loginForm, #signupForm{
display: none;
}

#inputclass{
/* margin-left: 10px; */
border: 1px solid rgb(95, 144, 170);
}
#loginForm .inputclass{
margin-left:20px;
margin-bottom: 15px;
}
#signupForm .inputclass{
margin-left:0px;
margin-bottom: 0px;
}
#signupForm  #inputclass{
margin-left: 0px;
}
.signup{
margin-left: 600px;
margin-top: 20px;
}

#signup{
margin-left: 10px;
border: 1px solid srgb rgb(77, 115, 125);
  max-width: 400px; 
  margin: 0 auto; 
}
.about{
color: white;
margin: 100px 50px;

}
.fact {
  font-size: x-large ;
  padding-left: 50px;
  font-weight: bold;
}

.paragraph2{                
  display: flex;                
  justify-content: left;      
  flex-wrap: wrap;             
  background-color: #c6f9fc;
  font-size: larger;
  padding-top: 70px;
}

.paragraph1{
  display: flex;                
      justify-content: right;      
      flex-wrap: wrap;             
      background-color: #c6f9fc;
      font-size: larger;
}
.mission{
  display: flex;                
  justify-content: center;      
  flex-wrap: wrap;             
  background-color: #c6f9fc;
  font-size: xx-large;
  padding-top: 70px;
  text-decoration: underline;
  font-weight: 900;
}
.missions{
  background-color: aqua;
}
