   *{
        margin: 0px 0 0 50px;
    padding: 0px;
    font-family: century;
    
    }
    body{
       background-image: url(../assets/background1.jpg); 
      background-repeat: no-repeat;
      background-size: cover; 
    }
    .main{
      display: flex;
      margin: 0 0 0 -100px;
      flex-direction: row;
    }
    .main .title h3{
      color: white;
    }
    .navelements {
      float: right;
      /* display: inline-flex; */
    }

    ul li{
      display: inline-block;
      }
      .list{
        margin-left: 350px;
      }
      .list li {
        margin: 15px 10px 0px 30px;
      }
      .navelements .list li a{
        text-decoration: none;
        color: white;
      }
      .skills {
        margin-top: 50px;
        background-color: white;
        height: 200px;
      
      }
    .title {
      margin-top: 10px;
    }

    .section1 .skills a {
      font-size:xx-large;
      color: white;
      text-decoration: none;
      margin-left: 100px;
    }
  .section2 {
    margin: 100px 0 0 0;
    color: white;
  }
  .section2 p {
    margin-top: 50px;
  }
  .skills a{
    border: 1px solid aqua;
    margin-top: 40px;
    padding: 10px;
  }

    /* .se
    .main{
      max-width: 1200px;
      margin: auto;
      }

  ul {
  float : right ;
  list-style-type: none;
  margin-top: 30px;
  min-height: 400px;
  margin: 60px;
  font-size: 17px;
  }

  ul li{
  display: inline-block;
  }
  
  ul li a {
  text-decoration: none;
  color: rgb(84, 255, 4);
  border: 1px solid transparent;
  transition: 0.5 ease;
  }
  ul li a:hover{
  background-color: rgb(161, 183, 101);
  color: black;
  }
  ul li.active a {
  background-color: rgb(161, 183, 101);
  color: black;
  }
  body {
    background-image: url('https://e0.pxfuel.com/wallpapers/181/282/desktop-wallpaper-medical-and-background-doctor-medicine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
  }
 
  h1 {
  padding: 10px;
  color: rgb(255, 198, 10);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: xx-large;
  
  position: absolute;
  top: 50px;
  left: 50px;
  }
  
  h2{
  color:orange;
  font-family: 'Courier New', Courier, monospace;
  }
  .singup {
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  }
  #loginForm{
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  }
  #signupForm{
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  }
  h3{
  color: orange;
  font-family: 'Courier New', Courier, monospace;
  } 
 */
