.cointainer{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: aqua cover;
    
}
.login{
    width: 300px;
    box-shadow: 0 0 3px rgba(0 0 0 0.3);
    background: #fff;
    padding:20px;
    margin:8% auto 0;
    text-align: center;
    border: 1px blue solid;
}
.input-box{
    padding: 0 0 2px;
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;

}
